.docs .code-container {
	margin: calc(1rem * #{$lineHeight}) 0;
}

.docs .btn-copy {
	@include anim(all);
	background: rgba($white, 0.6);
	border-radius: 2px;
	height: 24px;
	line-height: 24px;
	opacity: 0;
	padding: 0;
	top: 4px;
	width: 24px;

	&:hover {
		background: rgba($white, 0.8);
		opacity: 1;
	}

	> [class*="icon-"] {
		font-size: 10px;
	}
}

.docs .CodeMirror-sizer {
	margin-left: 40px !important;
}

.docs .CodeMirror-gutter-wrapper {
	left: -28px !important;
}

.docs .CodeMirror-linenumber {
	line-height: 24px;
	text-align: left;
	width: 32px !important;
	padding: 0;
}

.docs * code,
.docs .docs-content * code {
	display: inline-block;
	color: rgba($primary, 0.6);
	background: rgba($primary, 0.1);
	font-size: 100%;
	font-family: $font-mono;
	padding: 0 4px;
}

.docs * .code,
.docs .docs-content * .code {
	margin: 0;
	background: transparent;
}

.docs p code,
.docs .docs-content p code {
	line-height: 22px;
}
.docs h4 code,
.docs .docs-content h4 code {
	line-height: 24px;
}
.docs h6 code,
.docs .docs-content h6 code {
	line-height: 26px;
}

.docs p a:not([class]),
.docs li a:not([class]) {
	border-bottom: 1px dashed rgba($primary, 0.4);
	color: inherit;

	&:hover {
		border-bottom: 1px dashed $accent;
		color: $accent;
	}
}
.docs .docs-content .guide-github {
	margin: 24px 0 60px;
}
