<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo: Blog</title>

  <link rel="stylesheet" href="../../build/marble.css">
  <link rel="stylesheet" href="../../build/templates/tutorial.css">
  <link rel="stylesheet" href="../../build/fonts/galano/galano.css">
  <link rel="stylesheet" href="../../build/fonts/icon-12/icon-12.css">
  <link rel="stylesheet" href="../../build/fonts/icon-16/icon-16.css">
</head>

<body class="tutorial">
  <main class="content">
    <nav class="sidebar">
      <ul class="sidebar-list toggler-collapsed">
        <li class="sidebar-item">
          <a class="sidebar-link sidebar-link-read" href="step-1">
            <span class="before"></span>
            <span class="tutorial-step">1</span>
            <span class="section-title">Overview</span>
            <span class="after"></span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link sidebar-link-read" href="step-2">
            <span class="before"></span>
            <span class="tutorial-step">2</span>
            <span class="section-title">Get the sample code</span>
            <span class="after"></span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link sidebar-link-read" href="step-3">
            <span class="before"></span>
            <span class="tutorial-step">3</span>
            <span class="section-title">Canonical URLs, Meta Data & Search</span>
            <span class="after"></span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link sidebar-link-selected" href="step-4">
            <span class="before"></span>
            <span class="tutorial-step">4</span>
            <span class="section-title">Running the App and Following this Code Lab</span>
            <span class="after"></span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="step-5">
            <span class="before"></span>
            <span class="tutorial-step">5</span>
            <span class="section-title">Step 5: Create a calculator app - dealing with exceptions</span>
            <span class="after"></span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="step-6">
            <span class="before"></span>
            <span class="tutorial-step">6</span>
            <span class="section-title">Congratulations!</span>
            <span class="after"></span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="sidebar-offset">
      <nav class="topbar topbar--light">
        <div class="topbar-logo">
          <a class="topbar-logo-link" href="/">
            <span class="name">Tutorial Name</span>
          </a>
        </div>
        <div class="time-remaining">
          <span class="icon icon-16-clock"></span>
          <span class="name">38 min remaining</span>
        </div>
      </nav>

      <div class="container"><div class="container-blog card"><h4>Create new project</h4><p>To begin, we will create a new WeDeploy project.</p><ol><li>Go to the <a href="http://dashboard.wedeploy.com">WeDeploy Dashboard</a></li><li>Click on <em>New Project</em></li><li>Add a <em>Project ID</em></li><li>Click on <em>Create Project</em></li></ol><p>The ID you gave this new project is the ID you will add to all future <code>&lt;your-project-id&gt;</code> elements in this tutorial.</p><input type="hidden" value="Create new project"><input type="hidden" value="WeDeploy™"><div class="tutorial-page-nav"><a href="https://github.com/wedeploy/wedeploy.com/issues/new?title=Tutorial+Problem&amp;body=%3E+URL%3A+/tutorials/data-web/create-new-project.html" class="btn btn-default btn-sm">Report a problem</a><a href="/tutorials/data-web/clone-sample-repo.html" class="btn btn-accent btn-sm">I created a project</a></div></div></div>
  </main>
</body>
</html>
