body {
  margin: 0;
}
.static-page {
  font-family: Circular Std, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;

  .suggestion.error {
    background-color: white;
    background-image: linear-gradient(0deg, rgba(0, 164, 255, 0.03), rgba(0, 164, 255, 0.03)), linear-gradient(0deg, rgba(14, 20, 26, 0.04), rgba(14, 20, 26, 0.04));
    text-align: center;
    width: inherit;
    padding: 144px 0 240px;
    position: relative;

    .logo {
      height: 42px;
      left: 18px;
      position: absolute;
      top: 18px;
      width: 42px;
    }
    .link,
    .link:visited {
      color: #00AE55;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: absolute;
      right: 18px;
      text-decoration: none;
      top: 18px;
      transition: color 0.333s;
    }
    .link:focus,
    .link:hover {
      color: #00572b;
    }
    .link-icon {
      display: inline-block;
      fill: #00AE55;
      height: 18px;
      margin-top: 4px;
      transition: fill 0.333s;
      width: 18px;
    }
    .link:focus .link-icon,
    .link:hover .link-icon{
      fill: #00572b;
    }
    .link-icon.--right {
      float: right;
      margin-left: 6px;
    }
    .error-title {
      color: rgba(14, 20, 26, 0.3);
      font-size: 255px;
      font-weight: 900;
      line-height: 324px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      transition: font-size 0.333s, line-height 0.333s;
    }
    .error-subtitle {
      color: #0e141a;
      font-size: 46px;
      font-weight: 900;
      line-height: 60px;
      margin: 12px 18px 0;
      padding: 0;
    }
    .error-description {
      color: rgba(14, 20, 26, 0.8);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 12px 18px 0;
      padding: 0;
    }
    .layer {
      height: 400px;
      left: 50%;
      position: absolute;
      top: 96px;
      transform: translateX(-50%);
      width: 900px;
    }
  }
}

.error-footer {
  background-color: #0E141A;
  padding: 162px 0 184px;
  text-align: center;
  width: inherit;
}
.error-footer-title {
  color: white;
  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
  padding: 0 18px;
  position: relative;
  text-align: center;
}
.error-footer-subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 12px 0 0;
  padding: 0 18px;
  position: relative;
  text-align: center;
}
