.tutorial {

	@import "../root/elements";

	.sidebar-offset {
		padding-top: 0px;
	}

	.container {
		width: 100%;
		max-width: 750px;

		padding: calc(1.5rem * #{$lineHeight}) calc(1rem * #{$lineHeight});
	}

	.container .card {
		max-width: 100%;
		padding: calc(1rem * #{$lineHeight}) calc(1rem * #{$lineHeight});

		@media (min-width: 960px) {
			max-width: calc(34rem + 10rem);
			padding: calc(1rem * #{$lineHeight}) calc(2rem * #{$lineHeight});
		}

		> * {
			margin-bottom: calc(1rem * #{$lineHeight});

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.content .container a:not(.btn) {
		transition: color 0.333s, border-bottom-width 0.333s;
		color: rgba($primary, 0.8);
		border-bottom-width: 1px;
	}
	.content .container a:not(.btn):hover {
		color: $accent;
	}

	//page-nav
	.tutorial-page-nav {
		text-align: center;
		margin-top: 36px;

		.btn {
			transition: background 0.333s;
			margin: 0 6px 12px;
			font-size: 1rem;

			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

}
