.tutorial .sidebar-offset {
  margin-left: 0px;
  width: 100%;

  @media (min-width: 960px) {
    margin-left: calc((0.5rem * #{$lineHeight}) * 21); //252px;
    width: calc(100% - ((0.5rem * #{$lineHeight}) * 21));
  }
}

.tutorial .sidebar {
  top: 0;
  width: 100%;

  @media (min-width: 960px) {
    width: calc((0.5rem * #{$lineHeight}) * 21);
  }

  .sidebar-list {
    padding: calc(0.5rem * #{$lineHeight});
  }

  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    border-radius: 4px;

    &.sidebar-item-selected {
      background: rgba($accent, 0.1);
    }
  }

  .sidebar-link {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: calc(0.5rem * #{$lineHeight});

    font-family: $font-family-secondary-semibold;
    font-size: 0.8125rem;
    color: rgba($primary, 0.8);

    span:not(.tutorial-step) {
      line-height: calc(1rem * #{$lineHeight});
    }
  }

  .sidebar-link-read .sidebar-link {
    color: rgba($primary, 0.8);
  }

  .tutorial-step {
    font-family: $font-family-secondary-semibold;
    display: block;
    margin-right: calc(0.5rem * #{$lineHeight});
    width: calc(1.5rem * #{$lineHeight});
    height: calc(1.5rem * #{$lineHeight});
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba($primary, 0.12);
    text-align: center;
    line-height: calc(1.5rem * #{$lineHeight});
    background: white;
    font-size: 0.8125rem;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  .sidebar-link {
    position: relative;
    height: 100%;
  }

  .sidebar-item .before {
    background: rgba($primary, 0.1);
    display: block;
    position: absolute;
    top: 0;
    left: 28px;
    height: 50%;
    width: 4px;
  }

  .sidebar-item.sidebar-item-read .before,
  .sidebar-item.sidebar-item-selected .before {
    background: $accent;
  }

  .sidebar-item:first-child .before {
    display: none;
  }

  .sidebar-item .after {
    background: rgba($primary, 0.1);
    top: 50%;
    display: block;
    height: 50%;
    left: 28px;
    position: absolute;
    width: 4px;
  }

  .sidebar-item.sidebar-item-read .after {
    background: $accent;
  }

  .sidebar-item:last-child .after {
    display: none;
  }

  .sidebar-item .section-title {
    font-size: 0.8125rem;
  }

  .sidebar-item.sidebar-item-read .section-title {
    color: rgba($primary, 0.6);
    text-decoration: line-through;
  }

  .sidebar-item.sidebar-item-selected .tutorial-step {
    color: $accent;
    box-shadow: 0 2px 8px rgba($accent, 0.1);
  }
}
