@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  border: 0 solid transparent;
  font-family: $font-primary;
  font-weight: 600;

  @include button-size(0, 48px, 16px, 60px, 4px);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  &.btn-block {
    padding: 0;
  }
}

.btn-default {
  background-color: rgba($primary, .1);
  color: rgba($primary, .6);

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($primary, .2);
    color: rgba($primary, .6);
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($primary, .2);
      color: rgba($primary, .6);
    }
  }
}

.btn-primary {
  background-color: rgba($primary, .8);
  color: $white;

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($primary, .6);
    color: $white;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($primary, .6);
      color: $white;
    }
  }
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary {
  background-color: rgba($primary, .8);
  color: $white;

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($primary, .8);
    color: $white;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($primary, .8);
      color: $white;
    }
  }
}

.btn-success {
  background-color: $brand-success;
  color: $white;

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($brand-success, .8);
    color: $white;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($brand-success, .8);
      color: $white;
    }
  }
}

.btn-danger {
  background-color: $brand-danger;
  color: $white;

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($brand-danger, .8);
    color: $white;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($brand-danger, .8);
      color: $white;
    }
  }
}

.btn-accent {
  background-color: $accent;
  color: $white;

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background-color: rgba($accent, .8);
    color: $white;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background-color: rgba($accent, .8);
      color: $white;
    }
  }
}

.btn-inverse {
  background: $white;
  color: rgba($primary, .8);

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background: rgba($white, .15);
    color: rgba($primary, .6);
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background: rgba($white, .15);
      color: rgba($primary, .6);
    }
  }
}

.btn-inverse-accent {
  background: $white;
  color: $accent;

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background: rgba($white, .15);
    color: rgba($accent, .6);
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background: rgba($white, .15);
      color: rgba($accent, .6);
    }
  }
}

.btn-link {
  background: transparent;
  color: rgba($primary, .8);

  @include anim(all);

  &:hover,
  &:focus,
  &.focus {
    background: transparent;
    color: rgba($primary, .6);
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background: transparent;
      color: rgba($primary, .6);
    }
  }
}

.btn-link.disabled,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background: transparent;
  color: rgba($primary, .8);

  &:hover,
  &:focus,
  &.focus {
    background: transparent;
    color: rgba($primary, .8);
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      background: transparent;
      color: rgba($primary, .8);
    }
  }
}

/* Icons
   ========================================================================== */

.btn span[class^="icon-16-"],
.btn span[class*="icon-16-"] {
  color: inherit;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/* Sizes
   ========================================================================== */

.btn-lg {
  @include button-size(0, 72px, 16px, 60px, 4px);
}

.btn-sm {
  @include button-size(0, 24px, 16px, 60px, 4px);
}

/* Transparent
   ========================================================================== */

.btn-transparent {
  background: transparent;
  border: 0;
  color: rgba($primary, .6);
  padding: 0;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      color: rgba($primary, .8);
      outline: none;
    }
  }
}

/* Icon
   ========================================================================== */

.btn-icon {
  background: none;
  border: 0;
  border-radius: 50%;
  color: rgba($primary, .6);
  height: 48px;
  width: 48px;

  @include anim(all);

  &.btn-squared {
    border-radius: 4px;
  }

  &:hover,
  &:focus,
  &.focus {
    background: rgba($accent, .1);
    color: $accent;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      background: rgba($accent, .1);
      color: $accent;
      outline: none;
    }
  }
}
