/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  align-content: center;
  align-items: center;
  border-radius: $br-md;
  border: 0 solid transparent;
  display: inline-flex;
  font-family: $font-primary;
  font-weight: $fwp-bold;
  justify-content: center;
  text-align: center;

  &:active {
    &:focus,
    &.focus {
      outline: none;
    }
  }
}

/* Sizes
   ========================================================================== */
.btn,
.btn.btn-md,
.btn.btn-medium {
  height: $bps-md;
  font-size: 15px;
  line-height: $bps-md;
  padding: 0 ($base * 4);
}

.btn.btn-lg,
.btn.btn-large {
  font-size: 16px;
  height: $bps-lg;
  line-height: $bps-lg;
}

.btn.btn-sm,
.btn.btn-small {
  height: $bps-sm;
  font-size: 14px;
  line-height: $bps-sm;
}

.btn.btn-xs,
.btn.btn-xsmall {
  height: $bps-xs;
  font-size: 12px;
  line-height: $bps-xs;
  padding: 0 ($base * 2);
}

/* Styles
   ========================================================================== */
.btn,
.btn-default {
  background: mix($primary, $white, 5%);
  color: $primary;
  transition: background $transition-duration;

  &:hover,
  &:focus {
    background: mix($primary, $white, 10%);
  }

  &.btn-accent {
    background: $accent;
    color: $white;

    &:hover,
    &:focus {
      background: mix($white, $accent, 20%);
    }
  }

  &.btn-primary {
    background: $primary;
    color: $white;

    &:hover,
    &:focus {
      background: mix($white, $primary, 20%);
    }
  }

  &.btn-success {
    background: $color-green;
    color: $white;

    &:hover,
    &:focus {
      background: mix($white, $color-green, 20%);
    }
  }

  &.btn-danger {
    background: $color-red;
    color: $white;

    &:hover,
    &:focus {
      background: mix($white, $color-red, 20%);
    }
  }

  &.btn-warning {
    background: $color-yellow;
    color: $white;

    &:hover,
    &:focus {
      background: mix($white, $color-yellow, 20%);
    }
  }
}

/* isLink
   ========================================================================== */
.btn-link {
  background: transparent;
  color: $primary;

  &:hover,
  &:focus {
    background: transparent;
    color: rgba($primary, 0.6);
  }

  &.btn-primary {
    color: $primary;
  }

  &.btn-success {
    color: $color-green;
  }

  &.btn-danger {
    color: $color-red;
  }

  &.btn-warning {
    color: $color-yellow;
  }
}

/* icons
   ========================================================================== */
.btn > .icon-left {
  margin: 0 $base 0 0;
}

.btn > .icon-right {
  margin: 0 0 0 $base;
}

/* disabled
   ========================================================================== */
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  text-decoration: none;
}

/* format
   ========================================================================== */
.btn.btn-block {
  display: flex;
  width: 100%;
}

.btn.btn-rounded,
.btn.btn-squared {
  padding: 0;
  width: $bps-md;

  &.btn-lg,
  &.btn-large {
    width: $bps-lg;
  }

  .btn-sm,
  .btn-small {
    width: $bps-sm;
  }
}

.btn.btn-rounded {
  border-radius: $br-round;
}
