/* ==========================================================================
   Slider
   ========================================================================== */

.slider {
  cursor: pointer;
  position: relative;
  text-align: center;

  span {
    display: none;
  }

  .rail {
    background: rgba($primary, .1);
    border-radius: 4px;
    height: 8px;
    position: relative;
    z-index: 1;
  }

  .rail-handle {
    height: 18px;
    position: absolute;
    top: -5px;
    width: 18px;
    z-index: 10;
  }

  .rail-active {
    background-color: $accent;
    border-radius: 4px;
    height: 100%;
    position: relative;
  }

  .handle {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 2px 12px rgba($primary, .12);
    height: 18px;
    margin: 0 -9px;
    width: 18px;
  }
}
