@import "variables";
@import "mixins";

/* ==========================================================================
   Topbars
   ========================================================================== */

.topbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  position: relative;

  @media (min-width: $screen-md-min) {
    flex-wrap: nowrap;
  }

  &:not(.topbar-light) {
    background-color: $primary;
    color: $white;
  }

  &.topbar-light {
    background-color: $white;
    color: $primary;
  }
}

/* Topbar: Logo
/* ========================================================================== */

.topbar-logo {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.topbar-logo-link {
  color: inherit;
  display: flex;

  &:hover, &:focus {
    color: inherit;
  }
}

.topbar-logo-text {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 -12px;
  padding: 9px 12px;

  * + & {
    margin-left: 0;
  }
}

.topbar-logo-icon {
  color: $accent;
  display: block;
  line-height: 36px;

  :root & {
    font-size: 36px;
  }
}

.topbar-logo-image {
  display: block;
  height: 36px;
  width: 36px;
}

/* Topbar: List
/* ========================================================================== */

.topbar-toggle {
  background-color: transparent;
  border: 0;

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.topbar-menu {
  margin-left: auto;
}

.topbar-list {
  background-color: $primary;
  color: $white;
  overflow: hidden;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1001;

  .topbar-light & {
    background-color: $white;
    color: $primary;
  }

  @media (min-width: $screen-md-min) {
    background-color: transparent;
    color: inherit;
    overflow: visible;
    left: auto;
    max-height: none;
    position: static;
    right: auto;
    top: auto;
    z-index: auto;
  }

  @media (min-width: $screen-md-min) {
    align-items: center;
    display: flex;
  }

  &.topbar-list-expanded {
    max-height: 100vh;
    padding: 12px 0;

    @media (min-width: $screen-md-min) {
      max-height: none;
      padding: 0;
    }
  }
}

.topbar-link {
  color: inherit;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 9px 24px;

  @media (min-width: $screen-md-min) {
    font-size: 14px;
    line-height: 18px;
    padding: 9px 12px;
  }

  &:hover, &:focus {
    color: inherit;
  }

  &.btn-transparent {
    margin-left: 24px;
    padding: 0;

    @media (min-width: $screen-md-min) {
      margin-left: 6px;
    }

    & > object {
      vertical-align: top;
    }
  }

  & .avatar-initials {
    border-radius: 50%;
    display: inline-block;
  }
}
