/* Core Variables and Mixins
   ========================================================================== */

@import "variables";
@import "mixins";

/* Reset and Dependencies
   ========================================================================== */

@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/print";

/* Core CSS
   ========================================================================== */

@import "scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "button-groups";

/* Components
   ========================================================================== */

@import "wedeploy-logo";
@import "bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "dropdowns";
@import "input-groups";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "labels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "alerts";
@import "bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "switchers";
@import "sidebars";
@import "topbars";
@import "avatars";
@import "lists";
@import "autocompletes";
@import "ribbon";
@import "spinner";
@import "datatable";
@import "input-matrix";
@import "progress-bar";
@import "select";
@import "slider";
@import "checkbox";
@import "radio";
@import "pill";
@import "error";

/* Partials
   ========================================================================== */
@import "templates/footer";

/* Custom Components
   ========================================================================== */

@import "box";
@import "content-body";
@import "content-footer";
@import "content-header";
@import "content-placeholder";
@import "content-tabs";

/* Components w/ JavaScript
   ========================================================================== */
@import "modals";
@import "tooltip";
@import "reading-progress";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass/assets/stylesheets/bootstrap/carousel";

/* Utility Classes
   ========================================================================== */
@import "bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

/* Animations
   ========================================================================== */
@import "animations";

/* Navigation
   ========================================================================== */
@import "senna";

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
