.CodeMirror {
	border-radius: 4px;
	height: auto;
	z-index: 0;
}

.CodeMirror,
.docs-content pre {
	font-family: 'Roboto Mono', monaco, monospace;
	margin: 20px 0;
}

.docs-content pre {
	border: 0;
	padding: 4px;
	font-size: 14px;
}

.docs-content .CodeMirror pre {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.code-container {
	position: relative;
}

.btn-copy {
	@include anim(background);
	background: rgba(white, .3);
	height: 36px;
	line-height: 36px;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 36px;
	z-index: 1;

	&:hover,
	&:focus {
		background: rgba(white, .5);
	}
}
