/* ==========================================================================
   Topbar
   ========================================================================== */

.guide:not(.content) {
  .topbar {
    background: rgba($primary, .02);
  }

  .topbar-list {
    background-color: transparent;
  }

  .topbar-list-expanded {
    background-color: mix($primary, $body-bg, 2%);
  }
}

.docs .topbar-docs-main {
  display: flex;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.docs .sidebar-offset .topbar {
  display: none;

  @media (min-width: $screen-md-min) {
    display: flex;
  }
}

.topbar.topbar-large .wedeploy-logo .liferay {
  display: none;
}

.topbar.topbar-docs {
  display: flex !important;
  background-color: transparent;

  @media (min-width: 960px) {
    width: calc(100% - 284px);
    margin-left: 284px;
  }
}
