$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7

$slider-height: 15px;
$slider-handle-height: $slider-height * 2;

.slider {
	color: $gray-light;
	margin-left: $slider-handle-height / 2;
	position: relative;
	text-align: center;

	.rail {
		border: solid 1px $gray-light;
		border-radius: $slider-height / 2;
		height: $slider-height;
		position: relative;

		.rail-handle {
			position: absolute;
			top: -1px;
		}

		.rail-active {
			background-color: $gray-lighter;
			border-radius: $slider-height/2 0 0 $slider-height/2;
			height: 100%;
			position: relative;
		}

		.handle {
			background-color: $brand-primary;
			border-radius: $slider-handle-height/2;
			margin-top: -$slider-handle-height/3;
			margin-left: -$slider-handle-height/2;
			height: $slider-handle-height;
			width: $slider-handle-height;
		}
	}
}
