/* Autocomplete
	 ========================================================================== */

.autocomplete {
	@include box-shadow(0 2px 8px rgba(0, 0, 0, 0.16));
	background: white;
	border: 1px transparent;
	margin-top: 4px;
	overflow: hidden;
	position: absolute;
	z-index: $zindex-modal;

	.list {
		padding-bottom: 12px;
		padding-top: 12px;

		.listitem {
			cursor: pointer;
		}

		.listitem:hover {
			background-color: rgba($accent, .1);
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
		}
	}
}
