@import "bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "mixins";
@import "variables";

.btn-group {
	overflow: hidden;
}

.btn-group .btn {
	font-size: 11px;
	padding: 0 45px;
	text-transform: uppercase;
}

.btn-label {
	@include anim(top);
	position: relative;
	top: 0;
}

.btn-icon {
	@include anim(top);
	background: $white;
	border-radius: 50%;
	color: rgba($primary, .8);
	left: 50%;
	margin-left: -8px;
	padding: 1px 2px 3px;
	position: absolute;
	top: 60px;
}

// Selected --------------------------------------------------------------------

.btn-group-selected,
.btn-group-selected:hover {
	color: $white;
	font-weight: 700;
}

.btn-group-selected.btn-get-bg    { background: $http-get;    }
.btn-group-selected.btn-head-bg   { background: $http-head;   }
.btn-group-selected.btn-post-bg   { background: $http-post;   }
.btn-group-selected.btn-put-bg    { background: $http-put;    }
.btn-group-selected.btn-patch-bg  { background: $http-patch;  }
.btn-group-selected.btn-delete-bg { background: $http-delete; }

.btn-group-selected .btn-label {
	top: -10px;
}

.btn-group-selected .btn-icon {
	top: 32px;
}
