@import "bootstrap-sass/assets/stylesheets/bootstrap/button-groups";

.btn-group {
	overflow: hidden;
}

.btn-group .btn {
	font-size: 11px;
	padding: 0 45px;
	text-transform: uppercase;
}

.btn-group-label {
	@include anim(top);
	position: relative;
	top: 0;
}

.btn-group-icon {
	@include anim(top);
	background: $white;
	border-radius: 50%;
	color: rgba($primary, .8);
	left: 50%;
	margin-left: -8px;
	padding: 1px 2px 3px;
	position: absolute;
	top: 60px;
}

// Selected --------------------------------------------------------------------

.btn-group-selected,
.btn-group-selected:hover,
.btn-group-selected:focus,
.btn-group-selected:active:hover,
.btn-group-selected:active:focus {
	background: $primary;
	color: $white;
	font-weight: 700;
}

.btn-group-selected .btn-group-label {
	top: -10px;
}

.btn-group-selected .btn-group-icon {
	top: 32px;
}
