@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.btn {
	@include button-size(0, 48px, 16px, 58px, 4px);
	font-family: $font-family-secondary-semibold;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none;
		}
	}

	&:active,
	&.active {
		box-shadow: none;
	}
}

.btn-default {
	@include anim(all);

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($accent, .2);
		color: $accent;
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($accent, .2);
			color: $accent;
		}
	}
}

.btn-primary {
	@include anim(all);

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($accent, .3);
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($accent, .3);
		}
	}
}

.btn-success {
	@include anim(all);

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($brand-success, .8);
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($brand-success, .8);
		}
	}
}

.btn-danger {
	@include anim(all);

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($brand-danger, .8);
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($brand-danger, .8);
		}
	}
}

.btn-accent {
	@include anim(all);
	background: $btn-accent-bg;
	color: $btn-accent-color;

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($accent, .8);
		color: $btn-accent-color;
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($accent, .8);
			color: $btn-accent-color;
		}
	}
}

.btn-inverse {
	@include anim(all);
	color: $btn-inverse-color;
	background: $btn-inverse-bg;

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($white, .15);
		color: $btn-inverse-color;
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($white, .15);
			color: $btn-inverse-color;
		}
	}
}

.btn-inverse-accent {
	@include anim(all);
	background: $btn-inverse-accent-bg;
	color: $btn-inverse-accent-color;

	&:hover,
	&:focus,
	&.focus {
		background-color: rgba($btn-inverse-accent-bg, .8);
		color: $btn-inverse-accent-color;
	}

	&:active,
	&.active {
		&:hover,
		&:focus,
		&.focus {
			background-color: rgba($btn-inverse-accent-bg, .8);
			color: $btn-inverse-accent-color;
		}
	}
}

// Icons

.btn span[class^="icon-16-"],
.btn span[class*="icon-16-"] {
	margin-right: 10px;
	position: relative;
	top: 2px;
}

// Sizes

.btn-lg {
	@include button-size(0, 72px, 16px, 58px, 4px);
	font-weight: 400;
}

.btn-sm {
	@include button-size(0, 24px, 16px, 58px, 4px);
	font-weight: 400;
}

// Transparent

.btn-transparent {
	background: transparent;
	border: 0;
	padding: 0;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: none;
		}
	}
}

// Icon

.btn-icon {
	@include anim(background);
	background: rgba($primary, .1);
	border: 0;
	border-radius: 50%;
	color: rgba($primary, .6);
	height: 48px;
	width: 48px;

	&:hover,
	&:focus,
	&.focus {
		background: rgba($primary, .2);
	}

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			color: $accent;
			background: rgba($accent, .2);
			outline: none;
		}
	}
}
