@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.btn {
	border-radius: $border-radius-large;
	border-width: 0px;
	display: inline-block;
	font-family: $font-primary;
	font-size: 14px;
	font-weight: 700;
	line-height: 48px;
	padding: 0 12px;

	transition: background 0.333s;
	background: rgba($primary, 0.05);
	color: rgba($primary, 0.6);

	&.block {
		display: block;
		width: 100%;
	}

	&.squared {
		padding: 0;
		width: 48px;
	}

	&:active,
	&:focus {
			box-shadow: none;
			outline: none !important;
	}

	&:active,
	&:hover {
		background: rgba($primary, 0.1);
	}

	> span[class*="icon-"] {
		display: inline-block;
		line-height: 48px;
		vertical-align: top;

		&.icon-left {
			margin-right: 12px;

		}
		&.icon-right {
			margin-left: 12px;
		}
		&.icon-only {
			margin-right: -6px;
			margin-left: -6px;
		}
	}
}

/* ==========================================================================
	SIZES - large
	========================================================================== */
.btn.btn-lg {
	font-size: 15px;
	line-height: 60px;
	padding: 0 24px;

	&.squared {
		padding: 0;
		width: 60px;
	}

	> span[class*="icon-"] {
		line-height: 60px;

		&.icon-only {
			margin-right: -12px;
			margin-left: -12px;
		}
	}
}

/* ==========================================================================
	SIZES - small
	========================================================================== */
.btn.btn-sm {
	font-size: 13px;
	line-height: 36px;

	&.squared {
		padding: 0;
		width: 36px;
	}

	> span[class*="icon-"] {
		line-height: 36px;
	}
}

/* ==========================================================================
	SIZES - extra small
	========================================================================== */
.btn.btn-xs {
	font-size: 11px;
	line-height: 24px;

	&.squared {
		padding: 0;
		width: 24px;
	}

	> span[class*="icon-"] {
		line-height: 24px;
	}
}


/* ==========================================================================
	COLLOR - accent
	========================================================================== */
.btn.btn-accent {
	background: $accent;
	color: $white;

	&:hover,
	&:focus {
		background: rgba($accent, 0.8);
	}
}

/* ==========================================================================
	COLLOR - success
	========================================================================== */
.btn.btn-success {
	background: $brand-success;
	color: $white;

	&:hover,
	&:focus {
		background: rgba($brand-success, 0.8);
	}
}

/* ==========================================================================
	COLLOR - danger
	========================================================================== */
.btn.btn-danger {
	background: $brand-danger;
	color: $white;

	&:hover,
	&:focus {
		background: rgba($brand-danger, 0.8);
	}
}

/* ==========================================================================
	COLLOR - transparent
	========================================================================== */
.btn.btn-transparent {
	background: transparent;
	color: rgba($primary, 0.6);

	&:hover,
	&:focus {
		background: transparent;
		color: rgba($primary, 0.8);
	}
}
