/* ==========================================================================
   Content Header
   ========================================================================== */

.content-header {
	padding: 24px 0 36px;
	min-height: 48px;

	@media (max-width: $screen-md-min) {
		padding: 24px 0;
	}

	.right {
		text-align: right;
	}

	.header-title {
		@include anim(color);
		@extend .truncate;
		line-height: 48px;
		text-align: center;
		margin: 0;
		padding: 0;
		display: block;

		font-family: $font-primary;
		font-weight: 700;

		font-size: 29px;
		color: rgba($primary, 0.9);

		position: relative;
		top: 2px;

		span {
			@include anim(color);
			color: rgba($primary, 0.4);
		}

		@media (max-width: $screen-md-min) {
			text-align: left;
			font-size: 23px;
			line-height: 36px;
		}

		@media (max-width: $screen-sm-min) {
			text-align: left;
			font-size: 19px;
			line-height: 36px;
		}
	}

	a.header-title:hover {
		color: $accent;
		span {
			color: $accent;
		}
	}

	.nav-container {
		display: flex;
		justify-content: flex-start;
		align-items:center;
		align-content:center;
		width: 100%;

		&.nav-container-end {
			justify-content: flex-end;

			.avatar-status {
				margin-left: 8px;
				@media (max-width: $screen-md-min) {
					margin-left: 0;
					margin-right: 8px;
				}
			}
		}

		.service-health {
			cursor: pointer;
		}

		.avatar-status {
			display: inline-block;
			width: 48px;
			height: 48px;
			text-align: center;
			background: rgba($primary, .05);

			@media (max-width: $screen-sm-min) {
				width: 36px;
				height: 36px;
			}

			[class^="icon-16-"],
			[class*="icon-16-"] {
				line-height: 48px;
			}

			[class^="icon-12-"],
			[class*="icon-12-"] {
				line-height: 36px;
			}

			&.up {
				color: $brand-success;
				background: rgba($brand-success, 0.1);
			}

			&.down {
				color: $brand-danger;
				background: rgba($brand-danger, 0.1);
			}

			&.warn {
				color: $brand-warning;
				background: rgba($brand-warning, 0.1);
			}

			&.unknown,
			&.loading {
				color: rgba($primary, 0.8);
				background: rgba($primary, 0.1);
			}
		}
	}
}

.create-project .content-header .header-title {
	@media (max-width: $screen-md-min) {
		text-align: center;
		font-size: 23px;
		line-height: 48px;
	}

	@media (max-width: $screen-sm-min) {
		text-align: center;
		font-size: 19px;
		line-height: 48px;
	}
}
