/* ==========================================================================
   Content Header
   ========================================================================== */

.content-header {
	padding: 24px 0 36px;
	min-height: 48px;

	@media (max-width: $screen-md-min) {
		padding: 24px 0;
	}

	.right {
		text-align: right;
	}

	.header-title {
		@include anim(color);
		@extend .truncate;
		line-height: 48px;
		text-align: center;
		margin: 0;
		padding: 0;
		display: block;

		font-family: $font-primary;
		font-weight: 700;

		font-size: 29px;
		color: rgba($primary, 0.9);

		span {
			@include anim(color);
			color: rgba($primary, 0.4);
		}

		@media (max-width: $screen-md-min) {
			text-align: left;
			font-size: 23px;
			line-height: 36px;
		}

		@media (max-width: $screen-sm-min) {
			font-size: 19px;
			line-height: 36px;
		}
	}

	a.header-title:hover {
		color: $accent;
		span {
			color: $accent;
		}
	}

	.nav-container {
		display: flex;
		justify-content: flex-start;
		align-items:center;
		align-content:center;
		width: 100%;

		&.nav-container-end {
			justify-content: flex-end;

			.avatar-status {
				margin-left: 8px;
				@media (max-width: $screen-md-min) {
					margin-left: 0;
					margin-right: 8px;
				}
			}
		}
	}
}

.create-project .content-header .header-title {
	@media (max-width: $screen-md-min) {
		text-align: center;
		font-size: 23px;
		line-height: 48px;
	}

	@media (max-width: $screen-sm-min) {
		text-align: center;
		font-size: 19px;
		line-height: 48px;
	}
}
