.dropdown {
	display: inline-block;
	position: relative;

	* {
		list-style: none;
	}
}

.dropdown-menu {
	background: $white;
	border: 0;
	border-radius: $border-radius-base;
	box-shadow: 0 2px 8px rgba($primary, .1);
	margin: 12px 0 0;
	min-width: 140px;
	padding: 0;

	position: absolute;
	left: 0;
	right: auto;
	top: 100%;

	display: none;
}

.open .dropdown-menu {
	display: inline-block;
}

.dropdown-menu li {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;

	&:first-child {
		margin-top: 12px;
	}

	&:last-child {
		margin-bottom: 12px;
	}
}

.dropdown-menu li a,
.dropdown-menu li button {
	transition: background 0.333s, color 0.333s;

	background: transparent;
	border-width: 0px;
	color: rgba($primary, 0.8);
	font-family: $font-primary;
	font-size: 13px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;

	display: block;
	padding: 0 12px;
	width: 100%;

	&:hover,
	&:focus {
		background: rgba($accent, 0.1);
		color: $accent;
	}

	> span[class*="icon-"] {
		line-height: 36px;
		margin-right: 12px;
		display: inline-block;
		float: left;
	}
}

/* ==========================================================================
	Dropdown Dark
	========================================================================== */

.dropdown-dark .dropdown-menu {
	background: $primary;
}

.dropdown-dark .dropdown-menu:before {
	background: rgba($white, 0.1);
	content: '';

	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;

	height: 100%;
	width: 100%;
}

.dropdown-dark .dropdown-menu li a,
.dropdown-dark .dropdown-menu li button {
	color: $white;

	&:hover,
	&:focus {
		background: rgba($white, 0.1);
		color: $white;
	}
}

/* ==========================================================================
	Dropdown right
	========================================================================== */

.dropdown-right .dropdown-menu {
	right: 0;
	left: auto;
}
