@font-face {
  font-family: "Galano Medium";
  src: url('fonts/galano/galano-medium.eot');
  src: url('fonts/galano/galano-medium.eot?#iefix') format('eot'),
    url('fonts/galano/galano-medium.woff') format('woff'),
    url('fonts/galano/galano-medium.ttf') format('truetype');
}

@font-face {
  font-family: "Galano Semibold";
  src: url('fonts/galano/galano-semibold.eot');
  src: url('fonts/galano/galano-semibold.eot?#iefix') format('eot'),
    url('fonts/galano/galano-semibold.woff') format('woff'),
    url('fonts/galano/galano-semibold.ttf') format('truetype');
}

@font-face {
  font-family: "Galano Bold";
  src: url('fonts/galano/galano-bold.eot');
  src: url('fonts/galano/galano-bold.eot?#iefix') format('eot'),
    url('fonts/galano/galano-bold.woff') format('woff'),
    url('fonts/galano/galano-bold.ttf') format('truetype');
}
