@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";

label {
	color: rgba($secondary, .7);
	font-weight: 400;
	margin-bottom: 3px;
}

.form-control {
	box-shadow: none;
	padding: 20px 27px;

	&:focus {
		border-color: $brand-success;
		box-shadow: none;
	}
}

.help-block {
	color: rgba($secondary, .4);
	font-size: 11px;
	margin-top: 2px;
}

.has-success,
.has-warning,
.has-error {
  .form-control:focus {
  	box-shadow: none;
  }
}

.has-success .help-block .primary {
	color: $state-success-text;
}

.has-warning .help-block .primary {
	color: $state-warning-text;
}

.has-error .help-block .primary {
	color: $state-danger-text;
}
