@import "bootstrap-sass/assets/stylesheets/bootstrap/forms";

label {
	font-family: $font-family-sans-serif;
	color: rgba($primary, 0.6);
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 2px;
	line-height: 24px;

	position: relative;
	top: -4px;
}

.form-group {
	margin-bottom: 36px;

	textarea:focus,
	input:focus {
		outline: none;
	}
}

.form-control {
	@include anim(background);
	background: rgba($primary, .05);
	border: 0;
	box-shadow: none;
	color: rgba($primary, .8);
	font-size: 16px;
	padding: 0 20px;

	font-family: $font-family-secondary-semibold;
	font-weight: 400;
	font-size: 14px;
	color: rgba($primary, 0.8);

	&:focus {
		background: rgba($primary, .1);
		box-shadow: none;
	}

	&[disabled],
	&[readonly] {
		background: rgba($primary, .02);
		color: rgba($primary, .6);
	}
}

.form-control-borderless {
	border: 0;
	color: rgba($primary, .8);
	font-size: 16px;
	outline: 0;
}

.help-block {
	font-family: $font-family-sans-serif;
	color: rgba($secondary, .4);
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 2px;
	line-height: 24px;
}

.has-success,
.has-warning,
.has-error {
	.form-control,
	.form-control:focus {
		box-shadow: none;
	}
}

.has-success {
	.form-control {
		background: rgba($brand-success, .1);
	}

	.help-block .primary {
		color: $state-success-text;
	}
}

.has-warning {
	.form-control {
		background: rgba($brand-warning, .1);
	}

	.help-block .primary {
		color: $state-warning-text;
	}
}

.has-error {
	.form-control {
		background: rgba($brand-danger, .1);
	}

	.help-block .primary {
		color: $state-danger-text;
	}
}

.input-inverse-accent {
	background: $input-inverse-bg;
	border-color: $input-inverse-border;
	color: $input-inverse-color;
	@include placeholder($input-inverse-color-placeholder);

	&:focus {
		border-color: $input-inverse-border-focus;
	}
}

input[type="file"] {
	padding: 22px 20px;
	line-height: 10px;
	font-size: 13px;
	font-family: $font-family-secondary-semibold, sans-serif;
	vertical-align: middle;
}
