@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";

.container-hybrid {
	@include container-fixed;

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.container,
.container-hybrid,
.container-fluid {
	padding-left: $grid-margin-width;
	padding-right: $grid-margin-width;
}
