@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";

.container,
.container-hybrid,
.container-fluid {
	max-width: $screen-lg;
	width: calc(100% - 24px);
	padding: 0 12px;
}

.container-hybrid-half {
	width: calc(100% - 24px);
	max-width: 648px;
	padding: 0 12px;
	margin: 0 auto;
}

.container-hybrid-account {
	width: calc(100% - 24px);
	max-width: 490px;
	padding: 0 12px;
	margin: 0 auto;
}

.col-flex-row-left-start {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.col-flex-row-left-center {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.col-flex-row-right-center {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.col-flex-row-spacebetween-center {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

.col-flex-row-spacebetween-start {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
}
