@import "bootstrap-sass/assets/stylesheets/bootstrap/input-groups";

.input-group-addon {
	border: 0;
	color: rgba($primary, .3);
}

.input-group-addon:first-child {
	padding-left: 0;
}

.input-group-addon:last-child {
	padding-right: 0;
}

.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: $border-radius-base;
}
