.form-control.input-matrix-field {
	padding: 0 48px 0 20px;
}

.form-group {
	margin-bottom: 0px;
	.help-block {
		min-height: 24px;
		padding: 0;
		color: $brand-danger;
		font-weight: 600;
		margin: 0 2px;
	}
}

.input-matrix .input-matrix-fields {
	position: relative;
}

.input-matrix .input-matrix-fields .input-matrix-fields-left {
	position: relative;
	left: 0;
	z-index: 10;
}

.input-matrix .input-matrix-fields .input-matrix-fields-right {
	position: absolute;
	right: 20px;
	top: 19px;
	z-index: 20;
}
