@import "bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "variables";

// Base ------------------------------------------------------------------------

.label {
	border-radius: $border-radius-base;
	display: inline-block;
	font-family: $font-family-secondary;
	font-size: 11px;
	font-weight: 900;
	padding: 9px 12px 10px;
	position: relative;
	text-transform: uppercase;

	&.label-sm {
		padding: 7px 12px 7px;
	}
}

// Sizes -----------------------------------------------------------------------

.label-sm {
	font-size: 10px;
}

// Multiple --------------------------------------------------------------------

.label-multiple::after,
.label-multiple::before {
	border-radius: $border-radius-base;
	content: " ";
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	background: white;
}

.label-multiple::after {
	top: 2px;
	left: 2px;
	z-index: -1;
}

.label-multiple::before {
	top: 4px;
	left: 4px;
	z-index: -2;
}

// Colors ----------------------------------------------------------------------

.label-default {
	border: 1px solid rgba($primary, .3);
	color: rgba($primary, .5);
	padding: 8px 11px 9px;

	&.label-sm {
		padding: 6px 11px 6px;
	}
}

.label-default.label-multiple::after,
.label-default.label-multiple::before {
	border: 1px solid rgba($primary, .3);
	width: calc(100% + 1px);
	height: calc(100% + 1px);
}

.label-default.label-multiple::after {
	top: 2px;
	left: 2px;
}

.label-default.label-multiple::before {
	top: 4px;
	left: 4px;
}

.label-primary.label-multiple::after,
.label-primary.label-multiple::before {
	border: 1px solid $label-primary-bg;
}

.label-success.label-multiple::after,
.label-success.label-multiple::before {
	border: 1px solid $label-success-bg;
}

.label-danger.label-multiple::after,
.label-danger.label-multiple::before {
	border: 1px solid $label-danger-bg;
}

// Icon ------------------------------------------------------------------------

.label-icon {
	margin-right: 6px;
	position: relative;
	top: 2px;
}

// Clickable -------------------------------------------------------------------

.label-clickable {
	display: inline;
	overflow: hidden;
	position: relative;

	.label-action {
		@include anim(top, 0.2s);
		left: 50%;
		margin-left: -6px;
		position: absolute;
		top: -24px;
	}

	.label-icon {
		@include anim(top, 0.2s);
		position: relative;
	}

	.label-content {
		@include anim(top, 0.2s);
		position: relative;
		top: 0;
	}
}

.label-clickable:hover {
	.label-action {
		top: 9px;
	}

	.label-icon {
		top: 24px;
	}

	.label-content {
		top: 24px;
	}
}
