@import "bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "variables";

// Base ------------------------------------------------------------------------

.label {
	border-radius: $border-radius-base;
	display: inline-block;
	font-family: $font-family-sans-serif;
	font-size: 14px;
	padding: 0 12px;
	position: relative;
	font-weight: 700;
	line-height: 36px;

	&.label-sm {
		padding: 0 12px;
		font-size: 10px;
		line-height: 24px;
	}
}

// Colors ----------------------------------------------------------------------

.label-default {
	background: rgba($primary, .1);
	color: rgba($primary, .8);
}

.label-danger {
	background: rgba($brand-danger, .2);
	color: $brand-danger;
}

.label-primary {
	background: rgba($accent, .2);
	color: $accent;
}

.label-success {
	background: rgba($brand-success, .2);
	color: $brand-success;
}

.label-warning {
	background: rgba($brand-warning, .2);
	color: $brand-warning;
}

// Text ------------------------------------------------------------------------

.label-text {
	font-weight: 400;
}

// Icon ------------------------------------------------------------------------

.label-icon {
	margin-right: 6px;
	position: relative;
	top: 2px;
}

// Clickable -------------------------------------------------------------------

.label-clickable {
	display: inline;
	overflow: hidden;
	position: relative;

	.label-action {
		@include anim(top, 0.2s);
		left: 50%;
		margin-left: -6px;
		position: absolute;
		top: -24px;
	}

	.label-icon {
		@include anim(top, 0.2s);
		position: relative;
	}

	.label-content {
		@include anim(top, 0.2s);
		position: relative;
		top: 0;
	}

	&:hover {
		.label-action {
			top: 12px;
		}

		.label-icon {
			top: 26px;
		}

		.label-content {
			top: 26px;
		}
	}
}
