/* List
	 ========================================================================== */

.list .listitem {
	@include anim(background);
	border: none;
	list-style: none;
	margin: 0;
	padding: 35px 12px;
	width: 100%;
}

.list .listitem:last-child {
	border-bottom: 0;
}

.list .list-main-content {
	margin-left: 20px;
}

.list .list-text-primary {
	color: rgba($primary, .8);
	font-size: 18px;
	font-family: $font-family-secondary;
	line-height: 24px;
	position: relative;
	top: 2px;
}

.list .list-text-secondary {
	color: rgba($primary, .4);
	font-size: 14px;
	font-family: $font-family-sans-serif;
	line-height: 24px;
	position: relative;
	top: 4px;
}

.list .list-label {
	margin-top: 6px;
	margin-left: 10px;
}

.list .btn-icon {
	margin-left: 40px;
}

.list > ul {
	padding: 0;
}

.list .avatar-initials {
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	width: 48px;
}

.list .avatar-photo img {
	width: 48px;
	height: 48px;
}
