@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@mixin anim($property) {
	-webkit-transition: $property $transition-duration $transition-function;
       -o-transition: $property $transition-duration $transition-function;
          transition: $property $transition-duration $transition-function;
}

@mixin selection {
	&::selection {
		background: rgba($primary, .1);
	}

	&::-moz-selection {
		background: rgba($primary, .1);
	}
}
