@mixin anim($property) {
	-webkit-transition: $property $transition-duration $transition-function;
       -o-transition: $property $transition-duration $transition-function;
          transition: $property $transition-duration $transition-function;
}

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
