/* ==========================================================================
   Radio
   ========================================================================== */

.radio-group {
  list-style: none;
  padding: 0;
  margin-left: 0;

  font-family: $font-secondary;
  font-weight: inherit;
  font-size: inherit;

  > * {
    line-height: 24px;
    display: block;
  }

  &.radio-group-inline {
    > * {
      display: inline-block;
      margin-right: 24px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.radio-group * {
  position: relative;
}

.radio-group * label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  padding-left: 24px;
  margin: 0;
  top: 0;
}

.radio-group * input[type="radio"] {
  display: none;
}

.radio-group * input[type="radio"] + label:before {
  @include anim(all);
  color: rgba($primary, 0.8);
  content: "\E059";
  font-family: 'icon-16';
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.radio-group * input[type="radio"]:checked + label:before {
  content: "\E058";
  color: $accent;
}
