.reading-progress {
	background: rgba($primary, .05);
	border-radius: 4px;
	position: relative;
	width: 255px;
}

.reading-progress ul {
	list-style: none;
	padding-left: 0;
}

.reading-progress li {
	counter-increment: articles;
}

.reading-progress a {
	display: block;
	position: relative;
	padding: 16px 11px 16px 80px;
}

.reading-progress a::before,
.reading-progress a::after {
	position: absolute;
}

.reading-progress a::before {
	background: transparent;
	content: counter(articles);
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	left: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	color: rgba($primary, .4);
	text-align: center;
	box-shadow: inset 0 0 0 1px #d9d9d9;
	transition: background-color 0.3s, color 0.3s;
}

.reading-progress a.reading .reading-title {
	color: $accent;
}

.reading-progress a.reading svg {
	display: block;
}

.reading-progress a.reading::before {
	background-color: white;
	color: rgba($primary, .8);
}

.reading-progress a.read .reading-title {
	color: #a6a6a6;
}

.reading-progress a.reading.read svg {
	display: none;
}

.reading-progress a.read::before {
	background-color: #d9d9d9;
	color: #b3b3b3;
}

.reading-progress li:last-of-type a::after {
	display: none;
}

.reading-title {
	display: block;
	font-size: 15px;
	line-height: 1.2;
	color: rgba($primary, .6);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.3s;
}

.reading-subtitle {
	color: rgba($primary, .4);
	font-size: 12px;
}

.reading-progress svg {
	display: none;
	position: absolute;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	left: 20px;
	stroke: $accent;
}
