@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";

body {
  text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	letter-spacing: -0.02rem;
}
