@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "variables";

body {
  text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	letter-spacing: -0.02rem;
}

.primary {
	color: $primary;
}

.primary-bg {
	background: $primary;
}

.secondary {
	color: $secondary;
}

.secondary-bg {
	background: $secondary;
}

.http-get-bg {
	background: $http-get;
}

.http-head-bg {
	background: $http-head;
}

.http-post-bg {
	background: $http-post;
}

.http-put-bg {
	background: $http-put;
}

.http-patch-bg {
	background: $http-patch;
}

.http-delete-bg {
	background: $http-delete;
}
