.select {
	margin-bottom: 24px;

	&.block {
		display: block;

		> .dropdown {
			display: block;
		}

		> .dropdown.open > .dropdown-menu {
			display: block;
			width: 100%;
		}
	}


	.dropdown .btn {
		text-align: left;
		width: 100%;

		> .icon-12-arrow-down-short,
		> .icon-16-arrow-down-short {
			float: right;
		}
	}
}
