.select {
	margin-bottom: 24px;

	&.block {
		display: block;

		> .dropdown {
			display: block;
		}
	}

	.dropdown .btn {
		text-align: left;
		width: 100%;

		> .icon-12-arrow-down-short {
			float: right;
		}
	}
}
