@import "variables";
@import "mixins";

/* Sidebar
	 ========================================================================== */

.sidebar {
	background: white;
	box-shadow: $shadow-large;
	height: 100vh;
	left: 0;
	position: fixed;
	width: 265px;
}

.sidebar-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-item {
	display: block;
}

.sidebar-link {
	@include anim(all);
	display: block;
	text-decoration: none;
}

.sidebar-link:focus {
	outline: none;
}

/* Header
   ========================================================================== */

.sidebar-header {
	background: rgba($accent, .1);
	color: $accent;
	cursor: pointer;
	display: none;
	font-size: 14px;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
	padding: 0 20px 0 20px;
	user-select: none;
	width: 100%;
}

.sidebar-header:hover,
.sidebar-header:focus {
	color: $accent;
}

.sidebar-header .sidebar-icon {
	color: $accent;
	display: inline-block;
	margin-right: 20px;
	margin-top: -1px;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}

.sidebar-header .sidebar-icon-right {
	float: right;
	line-height: 60px;
	margin-top: -1px;
	vertical-align: middle;
}

.toggler-header-collapsed .icon-12-arrow-up-short   { display: none; }
.toggler-header-collapsed .icon-12-arrow-down-short { display: inline; }

.toggler-header-expanded .icon-12-arrow-up-short   { display: inline; }
.toggler-header-expanded .icon-12-arrow-down-short { display: none; }

/* First level
   ========================================================================== */

.sidebar-list-1 .sidebar-link {
	color: rgba($secondary, .8);
	font-size: 14px;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
	padding: 0 20px 0 20px;
}

.sidebar-list-1 .sidebar-link:hover,
.sidebar-list-1 .sidebar-link:focus {
	background: rgba($primary, .05);
	color: rgba($secondary, .9);
}

.sidebar-list-1 .sidebar-icon {
	color: $accent;
	display: inline-block;
	margin-right: 20px;
	margin-top: -1px;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}

.sidebar-list-1 .sidebar-link-selected,
.sidebar-list-1 .sidebar-link-selected:hover,
.sidebar-list-1 .sidebar-link-selected:focus {
	color: $accent;
}

/* Second level
   ========================================================================== */

.sidebar-list-2 .sidebar-link {
	color: rgba($secondary, .9);
	font-size: 13px;
	font-weight: 400;
	height: 36px;
	line-height: 36px;
	padding: 0 20px 0 60px;
}

.sidebar-list-2 .sidebar-link:hover,
.sidebar-list-2 .sidebar-link:focus {
	background: rgba($primary, .05);
}

.sidebar-list-2 .sidebar-link-selected,
.sidebar-list-2 .sidebar-link-selected:hover,
.sidebar-list-2 .sidebar-link-selected:focus {
	background: rgba($accent, .1);
	color: $accent;
}

/* Medium screens
   ========================================================================== */

@media (min-width: $screen-sm-min) {
	.sidebar {
		position: absolute;
		height: auto;
		width: 100%;
	}

	.sidebar-header {
		display: block;
	}

	.toggler-collapsed {
		display: none;
	}
}
