@import "templates/root/core";

/* ==========================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  margin-bottom: calc(1rem * #{$lineHeight});
  width: 100%;

  * {
    border-width: 0px !important;
  }
}

table thead tr {
  background: rgba($primary, 0.05);
}

table tbody tr {
  &:nth-child(odd) {
    background: rgba($primary, 0.02);
  }
  &:nth-child(even) {
    background: rgba($primary, 0.05);
  }
}

table tr th,
table tr td {
  border-width: 0px;
  font-size: $font-small;
  line-height: calc(1rem * #{$lineHeight});
  padding: calc(0.5rem * #{$lineHeight}) calc(1rem * #{$lineHeight});
  vertical-align: top;
  height: calc(2rem * #{$lineHeight});
}
