@import "bootstrap-sass/assets/stylesheets/bootstrap/tables";

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
	border: 0;
	padding: 20px 10px 4px;
}

.table > thead > tr > th,
.table > thead > tr > td {
	color: rgba($primary, .4);
	font-family: $font-family-secondary;
	font-size: 11px;
	font-weight: 700;
	padding: 20px 10px 28px;
	text-transform: uppercase;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
	color: rgba($primary, .7);
	font-size: 12px;
}
