@import "variables";
@import "mixins";

/* Topbar
/* ========================================================================== */

.topbar {
	align-items: center;
	display: flex;
	font-size: 16px;
	line-height: 24px;
	padding: 18px 24px;
	position: relative;
}

.topbar-dark {
	background-color: $primary;
	color: $white;
}

.topbar-light {
	background-color: $white;
	color: $primary;
}

.topbar-shaded {
	box-shadow: 0px 2px 8px rgba(12, 14, 26, 0.1);
}

/* Topbar Logo
/* ========================================================================== */

.topbar-logo {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

.topbar-logo-link {
	color: inherit;
	display: flex;

	&:hover, &:focus {
		color: inherit;
	}
}

.topbar-logo-text {
	display: block;
	font-size: 14px;
	line-height: 18px;
	margin: 0 -12px;
	padding: 9px 12px;

	* + & {
		margin-left: 0;
	}
}

.topbar-logo-icon {
	color: #00d46a;
	display: block;
	line-height: 36px;

	:root & {
		font-size: 36px;
	}
}

.topbar-logo-image {
	display: block;
	height: 36px;
	width: 36px;
}

/* Topbar Menu
/* ========================================================================== */

.topbar-menu {
	margin-left: auto;
}

.topbar-menu-toggle {
	background-color: transparent;
	border-width: 0;
	display: block;
	font-size: 16px;
	line-height: 24px;
	padding: 6px 24px;
	-webkit-tap-highlight-color: transparent;

	@media (min-width: 840px) {
		display: none;
	}

	&::after {
		display: inline-block;
		height: 7px;
		line-height: 0;
		margin-left: 6px;
		transform: scaleY(1) translate3d(0, -.5px, 0);
		transition: transform .3s ease-in-out,top .3s ease-out;
		vertical-align: middle;
		width: 8px;
	}

	.topbar-dark &::after {
		content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 8 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .8c0 .16-.04.32-.14.44-.88 1.34-2.3 3.48-3.2 4.8-.14.22-.38.36-.66.36s-.52-.14-.66-.36c-.9-1.32-2.32-3.46-3.2-4.8A.682.682 0 0 1 0 .8C0 .36.36 0 .8 0h6.4c.44 0 .8.36.8.8z' fill='#{$white}'/%3E%3C/svg%3E");
	}

	.topbar-light &::after {
		content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 8 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .8c0 .16-.04.32-.14.44-.88 1.34-2.3 3.48-3.2 4.8-.14.22-.38.36-.66.36s-.52-.14-.66-.36c-.9-1.32-2.32-3.46-3.2-4.8A.682.682 0 0 1 0 .8C0 .36.36 0 .8 0h6.4c.44 0 .8.36.8.8z' fill='#{$primary}'/%3E%3C/svg%3E");
	}

	&.toggler-header-expanded::after {
		transform: scaleY(-1) translate3d(0, calc(50% - 2.5px), 0);
	}
}

.topbar-list {
	list-style-type: none;
	margin: 0;

	@media (max-width: 839px) {
		left: 0;
		max-height: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 0;
		top: 72px;
		transition: max-height .05s, padding .3s;
		visibility: hidden;
		z-index: 1;
	}

	@media (min-width: 840px) {
		align-items: center;
		display: flex;
		padding: 0;
	}

	.topbar-dark & {
		background-color: $primary;
	}

	.topbar-light & {
		background-color: $white;
	}

	&.toggler-expanded {
		@media (max-width: 839px) {
			max-height: 100vh;
			padding: 12px 0;
			visibility: visible;
		}
	}
}

.topbar-link {
	color: inherit;
	display: block;

	@media (max-width: 839px) {
		font-size: 18px;
		line-height: 24px;
		padding: 9px 24px;
	}

	@media (min-width: 840px) {
		font-size: 14px;
		line-height: 18px;
		padding: 9px 12px;
	}

	&:hover, &:focus {
		color: inherit;
	}
}

.topbar-link-text {
	background-image: linear-gradient(currentColor 25%,transparent 50%);
	background-position: calc(200% - 2px) 100%;
	background-repeat: no-repeat;
	background-size: 200% 2px;
	display: inline-block;
	margin-bottom: -3px;
	padding-bottom: 3px;
	transition: background-position .25s;
	vertical-align: top;

	:hover > & {
		background-position: 100% 100%;
	}
}

/* Topbar Button
/* ========================================================================== */

.topbar-button {
	margin-left: 6px;
}
