@import "variables";
@import "mixins";

/* Topbar
	 ========================================================================== */

.topbar {
	background: $primary;
	height: 60px;
	padding: 0 20px;
	width: 100%;
	display: flex;
}

.topbar-logo {
	align-items: center;
	display: flex;
	align-self: flex-start;
	margin: 2px 20px 2px 0;
	max-width: 280px;
}

.topbar-logo-link {
	@include anim(color);
	color: rgba($white, 1);
	display: flex;
	font-family: $font-family-secondary;
	font-weight: 700;
	margin: 4px 0;
}

.topbar-logo-link:hover,
.topbar-logo-link:focus {
	color: white;
}

.topbar-logo-link .icon-12-wedeploy-logo {
	font-size: 48px;
}

.topbar-logo-text {
	font-size: 14px;
	letter-spacing: 0px;
	margin-left: 20px;
	position: relative;
	top: 5px;
}

.topbar-logo-label {
	background: rgba(white, .3);
	border-radius: $border-radius-small;
	color: rgba(white, .9);
	font-size: 12px;
	margin-left: 17px;
	padding: 11px 9px 10px 10px;
	position: relative;
	top: -1px;
}

.topbar-input {
	align-items: center;
	flex-grow: 1;

	.input-inner-addon {
		margin: 0 auto;
		max-width: 608px;
		top: 12px;
	}

	.input-inner-icon-helper {
		@include anim(color);
		color: white;
		top: 11px;
	}

	.form-control {
		@include anim(all);
		background: rgba(white, .3);
		color: white;
		font-weight: 600;
		height: 36px;
		padding-left: 60px;
		text-overflow: ellipsis;
		font-size: 1.4rem;

		&:focus {
			background: white;
			box-shadow: 0 2px 8px rgba(black, .2);
			color: rgba($primary, .8);
		}

		&:focus + .input-inner-icon-helper {
			color: inherit;
		}
	}

	::-webkit-input-placeholder {
		color: white;
	}
}

.topbar-list {
	align-items: center;
	display: flex;
	margin-left: auto;
	float: right;
	font-size: 0;
	list-style: none;
	margin-top: 10px;
	padding: 0;
	height: 38px;
	max-width: 300px;
}

.topbar-input + .topbar-list {
	justify-content: flex-end;
}

.topbar-item {
	display: inline-block;
	margin: 0 20px;
}

.topbar-item:last-child {
	display: table;
	margin-right: 0;
}

.topbar-link {
	@include anim(color);
	color: rgba($white, .3);
	font-family: $font-family-secondary-semibold;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.topbar-link:focus {
	color: rgba($white, .3);
}

.topbar-link:hover,
.topbar-link:focus {
	color: rgba($white, .6);
}

.topbar-link-selected,
.topbar-link-selected:hover,
.topbar-link-selected:focus {
	border-bottom: 0px solid $white;
	color: $white;
	padding-bottom: 5px;
}

.topbar-avatar {
	margin-left: 19px;
	position: relative;
	top: 3px;
}

.topbar-avatar .avatar-container {
	cursor: pointer;
	display: inline-block;
}

.topbar-avatar .avatar-initials {
	background: $accent;
}

.topbar-caret {
	margin-left: 10px;
	position: relative;
	top: -13px;
}

/* Topbar Light
	 ========================================================================== */

.topbar.topbar-light {
	background: white;
}

.topbar-light .topbar-logo-link {
	color: rgba($accent, .8);
}

.topbar-light .topbar-logo-link:hover,
.topbar-light .topbar-logo-link:focus {
	color: $accent;
}

.topbar-light .topbar-logo-label {
	background: rgba($accent, .3);
	color: $accent;
}

.topbar-light .topbar-link {
	color: rgba($accent, .4);
}

.topbar-light .topbar-link:hover,
.topbar-light .topbar-link:focus {
	color: rgba($accent, .8);
}

.topbar-light .topbar-link-selected,
.topbar-light .topbar-link-selected:hover,
.topbar-light .topbar-link-selected:focus {
	color: $accent;
	border-bottom: 0px solid $accent;
}


/* Topbar Inverse
	 ========================================================================== */

.topbar.topbar-inverse {
	background: $accent;
	color: $accent;
}

.topbar-inverse {
	.topbar-logo-label {
		background: rgba($primary, .2);
	}

	.topbar-link {
		color: rgba(white, .5);

		&:hover,
		&:focus {
			color: rgba(white, .8);
		}
	}

	.topbar-link-selected,
	.topbar-link-selected:hover,
	.topbar-link-selected:focus {
		color: white;
		border-color: white;
	}

	.topbar-avatar {
		.avatar-container {
			color: $accent;
		}

		.avatar-initials {
			background: white;
			color: inherit;
		}
	}
}

.topbar .form-control::-moz-placeholder {
    color: rgba($white, 0.8);
    opacity: 1;
}
