/* Colors
   ========================================================================== */

$primary: #1c6de2 !default;
$secondary: #233240 !default;

$black: #000 !default;
$white: #fff !default;

/* Scaffolding
   ========================================================================== */

$body-bg: #f4f8ff !default;
$link-color: $primary;
$link-hover-color: $primary;

/* Typography
   ========================================================================== */

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 13px;
$font-size-h6: 12px;

/* Components
   ========================================================================== */

$border-radius-small: 2px !default;

$shadow-small: 0 1px 1px rgba(black, 0.08) !default;
$shadow-large: 0 2px 4px rgba(black, 0.12) !default;

$transition-duration: .3s !default;
$transition-function: ease-in-out !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
