// Colors

$primary: #1c6de2 !default;
$secondary: #233240 !default;

$black: #000 !default;
$white: #fff !default;

$brand-success: #77d55a;
$brand-danger: #e64545;

// Scaffolding

$body-bg: rgba($secondary, .04) !default;
$link-color: $primary;
$link-hover-color: $primary;
$link-hover-decoration: none;

// Typography

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 12px;
$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 13px;
$font-size-h6: 12px;

// Buttons

$btn-default-color: white;
$btn-default-bg: rgba($secondary, .4);

$btn-primary-color: white;
$btn-primary-bg: $primary;

// Forms

$input-bg: rgba(white, .2);
$input-border: rgba($secondary, .2);
$input-color: rgba(black, .4);
$input-border-radius: 2px;
$input-border-focus: $primary;
$input-group-addon-bg: rgba($secondary, .05);

// Components

$border-radius-small: 2px !default;

// Bonus

$shadow-small: 0 1px 1px rgba(black, 0.08) !default;
$shadow-large: 0 2px 4px rgba(black, 0.12) !default;

$transition-duration: .3s !default;
$transition-function: ease-in-out !default;

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
