$body-bg: #f4f8ff !default;

$primary: #1c6de2 !default;
$secondary: #233240 !default;

$black: #000 !default;
$white: #fff !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
